{% assign s = site.data.site %}
<link rel="canonical" href="{{ page.url | absolute_url }}">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "DefinedTerm",
  "name": {{ s.name | jsonify }},
  "alternateName": [{{ s.us_name | jsonify }}, "DBF"],
  "description": {{ s.definition | jsonify }},
  "url": "{{ s.canonical_url }}/",
  "inDefinedTermSet": {
    "@type": "DefinedTermSet",
    "name": "{{ s.name }} specification",
    "url": "{{ s.canonical_url }}/SPEC.html"
  },
  "author": {
    "@type": "Person",
    "name": {{ s.author.name | jsonify }},
    "url": "{{ s.author.url }}",
    "worksFor": {
      "@type": "Organization",
      "name": {{ s.organisation.name | jsonify }},
      "url": "{{ s.organisation.url }}"
    }
  },
  "datePublished": "{{ s.coined_iso }}",
  "citation": "{{ s.article_url }}"
}
</script>
